body {
    background: #f8f8f8;
}

.container {
    width: 1280px;
    align-content: center;
    margin: 0 auto;
}

.header {
    height: 120px;
}

.footer {
    height: 120px;
    background: #f49b42;
}

.footer p {
    float: right;
    margin-right: 30px;
    margin-top: 20px;
    font-family: Helvetica, sans-serif;
    font-size: 14px;
}

.menu {
    color: #f49b42;
    font-family: Helvetica, sans-serif;
    font-size: 20px;
    list-style-type: none;
    text-decoration: none;
    float: right;
    margin-right: 30px;
    margin-top: 20px;
}

.menu li {
    display: inline-block;
}

.logo {
    margin-left: 150px;
}

.menu:hover {
    color: darkgreen;
}

.headers, caption {
    color: black;
    font-size: 18px;
    font-weight: 400;
    background: #eaeaea;
}

.productFullDesc {
    color: #484343;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.productFullDesc::first-letter {
    font-size: 200%;
    color: #964b00;
}

.char {
    font-size: 15px;
    font-weight: bold;
    line-height: 20px;
    list-style-image: url('../pic/favicon.ico');
}

.productPic {
    border: 3px solid rgba(198, 107, 15, 0.5);
    height: 500px;
}

.productPic:hover {
    border: 3px solid #f8f8f8;
}

.welcome {
    margin: auto;
    display: block;
}

input, textarea {
    font-size: 14px;
    font-family: Helvetica, sans-serif;
    color: #964b00;
    width: 400px;
    height: 25px;
}

#mail {
    height: 200px
}

#email:focus {
    background: rgba(198, 107, 15, 0.5);
    color: black;
}

textarea, input[type="text"]{
    text-transform: capitalize;
}

table {
    background: #f8f8f8;
    border-collapse: collapse;
}

table th, td {
    border: 1px solid #964b00;
    border-spacing: 0;
    vertical-align: middle;
    height: 40px;
    width: 150px;
    text-align: center;
}

.catalogueWrap{
    overflow: hidden;
    display: block;
}

.catalogueItem {
    width: 30%;
    height: 500px;
    float: left;
    margin-right: 5%;
    position: relative;
}

.catalogueItem img{
    height: 300px;
    width: 90px;
    display: block;
}

.catalogueItem:nth-child(-n+3) {
    margin-top: 0;
}

.catalogueItem:nth-child(3n) {
    margin-right: 0;
}

.productPicDesc {
    overflow: hidden;
}

.productPicWrap {
    width: 16%;
    float: left;
}

.productShortDescWrap {
    width: 75%;
    float: right;
}


.productShortDesc {
    color: #707070;
    font-size: 15px;
    font-style: italic;
    line-height: 17px;
    margin-top: 10px;
}


.productBuyButton {
    background: #f49b42;
    text-decoration: none;
    color: black;
    padding: 7px 17px;
    border: none;
}
