<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="shortcut icon" href="/static/pic/favicon.ico" type="image/x-icon">
    <title>CraftBox :: Интернет-магазин крафтового пива</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <img class="logo" src="/static/pic/logo.PNG" alt="CraftBox logo">
            <ul class="menu">
                <li><a class="menu" href="/">Главная</a></li>
                <li><a class="menu" href="/products/">Каталог</a></li>
                <li><a class="menu" href="/contacts/">Контакты</a></li>
            </ul>
            <hr>
        </div>
    <h1>Главная</h1>
    <p>Добро пожаловать в CraftBox!</p>
        <a href="/products/"><img class="welcome" src="/static/pic/main.jpg" alt="random_beer_pic"></a>
    <br>
    <div class="footer">
        <hr>
        <p>&copy; Все права защищены</p>
    </div>
</div>
</body>
</html>

