<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="shortcut icon" href="/static/pic/favicon.ico" type="image/x-icon">
    <title>CraftBox :: Каталог</title>
</head>
<body>
<div class="container">
    <div class="header">
        <img class="logo" src="/static/pic/logo.PNG" alt="CraftBox logo">
        <ul class="menu">
            <li><a class="menu" href="/">Главная</a></li>
            <li><a class="menu" href="/products/">Каталог</a></li>
            <li><a class="menu" href="/contacts/">Контакты</a></li>
        </ul>
        <hr>
    </div>
    <div class="catalogueWrap">
        <h1>Каталог</h1>
        <div class="catalogueCategory">
            <ul class="catalogueCategoryMenu">
                <li><a class="catalogueCategoryMenu" href="#">IPA</a></li>
                <li><a class="catalogueCategoryMenu" href="#">APA</a></li>
                <li><a class="catalogueCategoryMenu" href="#">Stout</a></li>
                <li><a class="catalogueCategoryMenu" href="#">Porter</a></li>
                <li><a class="catalogueCategoryMenu" href="#">Belgium Style</a></li>
                <li><a class="catalogueCategoryMenu" href="#">Weiss</a></li>
                <li><a class="catalogueCategoryMenu" href="#">Gose</a></li>
                <li><a class="catalogueCategoryMenu" href="#">Lager</a></li>
            </ul>
        <br>
        </div>
        <div class="catalogueItem">
            <h4>Атомная прачечная</h4>
            <div class="catalogueItemPic">
               <a href="#{# /products/laundry.html"#}"><img src="/static/pic/laundry.png" alt="Zavod IPA"></a>
            </div>
            <div class="productShortDesc">Легендарый индийский бледный эль от Jaws Brewery.</div>
            <div class="catalogueItemLink">
                <a href="#{# /products/laundry.html"#}">Подробнее</a>
            </div>
        </div>
        <div class="catalogueItem">
            <h4>IPA от Zavod</h4>
            <div class="catalogueItemPic">
                <a href="#{# /products/zavod_ipa.html"#}"><img src="/static/pic/zavod_ipa.png" alt="Zavod IPA"></a>
            </div>
            <div class="productShortDesc">IPA в американском стиле. Zavod. Химки.</div>
            <div class="catalogueItemLink">
                <a href="#{# /products/zavod_ipa.html"#}">Подробнее</a>
            </div>
        </div>
        <div class="catalogueItem">
            <h4>IPA от Zavod</h4>
            <div class="catalogueItemPic">
                <a href="#{# /products/zavod_ipa.html"#}"><img src="/static/pic/zavod_ipa.png" alt="Zavod IPA"></a>
            </div>
            <div class="productShortDesc">IPA в американском стиле. Zavod. Химки.</div>
            <div class="catalogueItemLink">
                <a href="#{# /products/zavod_ipa.html"#}">Подробнее</a>
            </div>
        </div>
        <div class="catalogueItem">
            <h4>IPA от Zavod</h4>
            <div class="catalogueItemPic">
                <a href="#{# /products/zavod_ipa.html"#}"><img src="/static/pic/zavod_ipa.png" alt="Zavod IPA"></a>
            </div>
            <div class="productShortDesc">IPA в американском стиле. Zavod. Химки.</div>
            <div class="catalogueItemLink">
                <a href="#{# /products/zavod_ipa.html"#}">Подробнее</a>
            </div>
        </div>
        <div class="catalogueItem">
            <h4>IPA от Zavod</h4>
            <div class="catalogueItemPic">
                <a href="#{# /products/zavod_ipa.html"#}"><img src="/static/pic/zavod_ipa.png" alt="Zavod IPA"></a>
            </div>
            <div class="productShortDesc">IPA в американском стиле. Zavod. Химки.</div>
            <div class="catalogueItemLink">
                <a href="#{# /products/zavod_ipa.html"#}">Подробнее</a>
            </div>
        </div>
        <div class="catalogueItem">
            <h4>IPA от Zavod</h4>
            <div class="catalogueItemPic">
                <a href="#{# /products/zavod_ipa.html"#}"><img src="/static/pic/zavod_ipa.png" alt="Zavod IPA"></a>
            </div>
            <div class="productShortDesc">IPA в американском стиле. Zavod. Химки.</div>
            <div class="catalogueItemLink">
                <a href="#{# /products/zavod_ipa.html"#}">Подробнее</a>
            </div>
        </div>
        <div class="catalogueItem">
            <h4>IPA от Zavod</h4>
            <div class="catalogueItemPic">
                <a href="#{# /products/zavod_ipa.html"#}"><img src="/static/pic/zavod_ipa.png" alt="Zavod IPA"></a>
            </div>
            <div class="productShortDesc">IPA в американском стиле. Zavod. Химки.</div>
            <div class="catalogueItemLink">
                <a href="#{# /products/zavod_ipa.html"#}">Подробнее</a>
            </div>
        </div>
    </div>
    <div class="footer">
        <hr>
        <p>&copy; Все права защищены</p>
    </div>
</div>
</body>
</html>